.contactList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  gap:20px;
}

.contact {
  margin-bottom: 10px;
}

.contactList .contactLiItem {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}
